*
{   
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heading h4
{
    color: white;
    
}
.font::after {
content: "*";
color: rgb(85, 0, 255);
}

.checked {
color: rgb(93, 0, 255);
}

td {
width: 130px;
padding: 5px;
}
.float2
{
margin-left: 300px;

}
#email::placeholder
{
width: 300px;
}
.child
{
opacity: 0.5;
}

  

tr:nth-child(even)
{
    background-color:rgb(242, 245, 245);
}
.font
{
    font-weight: bold;
}